---
layout: page
title: Board
---

<div class="bg-white py-32">
  <div class="mx-auto max-w-7xl px-6 text-center lg:px-8">
    <div class="mx-auto max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Board Members</h2>
      <p class="mt-4 text-lg leading-8 text-gray-600">Our volunteer board members keep things running smoothly.</p>
    </div>

    {% for board in site.data.boards %}
      <h3 class="text-2xl font-bold tracking-tight text-brand mt-8">{{ board.year }}</h3>
      <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-2 gap-x-8 gap-y-16 text-center sm:grid-cols-3 md:grid-cols-4 lg:mx-0 lg:max-w-none lg:grid-cols-5 xl:grid-cols-6">

        {% for person in board.people %}
          <li>
            <span class="fa-stack fa-3x">
              <i class="fa-solid fa-circle fa-stack-2x text-sky-800"></i>
              <i class="{{ person.symbol }} fa-stack-1x text-brand-lightest"></i>
            </span>
            <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-gray-900">{{ person.name }}</h3>
            <p class="text-sm leading-6 text-gray-600">{{ person.title }}</p>
          </li>
        {% endfor %}

      </ul>
    {% endfor %}

  </div>
</div>