---
layout: page
title: Meets & Results

meets:
- title: "2020 State Championship"
  notes: "6A-7A Division"
  team_results:
    - title: Girls Overall
      result: 12th place
    - title: Boys Overall
      result: 10th place

  relays:
    - event: "Girls 200 yard Medley Relay"
      placement: "11th"
      team: ["Wical", "Blasingame", "Roberts", "Reeves"]

    - event: "Girls 200 yard Free Relay"
      placement: "11th"
      team: ["Smith", "Kalange", "Zajac", "Wical"]

    - event: "Girls 400 yard Freestyle Relay"
      placement: "8th"
      team: ["Blasingame", "Kalange", "Reeves", "Roberts"]

    - event: "Boys 200 Medley Relay"
      placement: "8th"
      team: ["Hill", "Barnett", "Stinson", "Harlow"]

    - event: "Boys 200 yard Freestyle Relay"
      placement: "3rd"
      team: ["Harlow", "Hill", "Wilson", "Stinson"]

    - event: "Boys 400 Freestyle Relay"
      placement: "8th"
      team: ["Barnett", "Hill", "Wilson", "Stinson"]

  individuals:
  - name: "Claire Blasingame"
    events:
      "100 Fly": "7th"
      "100 Breaststroke": "10th"

  - name: "Owen Harlow"
    events:
      "50 Freestyle": "1st"
      "100 Freestyle": "1st"

  - name: "Aaron Hill"
    events:
      "100 Backstroke": "7th"

  - name: "Kate Reeves"
    events:
      "200 Freestyle": "13th"
      "100 Backstroke": "7th"

  - name: "Sofia Roberts"
    events:
      "200 IM": "7th"
      "100 Breastroke": "2nd"

  - name: "Lily Franklin"
    events:
      "1 meter diving": "14th"

  - name: "Ashlyn Johnson"
    events:
      "1 meter diving": "18th"

  - name: "Keira Young"
    events:
      "1 meter diving": "16th"

  - name: "Garrett George"
    events:
      "1 meter diving": "2nd"

  - name: "Pete Varmette"
    events:
      "1 meter diving": "14th"
---

<div class="bg-white py-32">
  <div class="mx-auto flex flex-col items-center px-6 lg:px-8">

    {% for meet in page.meets %}
    <div class="text-center">
      <h2 class="text-3xl font-bold tracking-tight text-brand sm:text-4xl">{{ meet.title }}</h2>
      <p class="mt-4 font-bold text-lg text-gray-600">{{ meet.notes }}</p>
    </div>

    <h3 class="font-bold tracking-tight text-brand mt-20 mb-4">Overall</h3>
    <dl class="w-full max-w-4xl grid grid-cols-1 gap-5 sm:grid-cols-2">
      {% for result in meet.team_results %}
      <div class="relative overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:px-6 sm:pt-6">
        <dt>
          <div class="absolute rounded-md bg-brand p-3">
            <i class="fa-solid fa-trophy fa-xl text-white"></i>
          </div>
          <p class="ml-16 truncate text-sm font-medium text-gray-500">{{ result.title }}</p>
        </dt>
        <dd class="ml-16 flex items-baseline">
          <p class="text-2xl font-semibold text-gray-900">{{ result.result }}</p>
        </dd>
      </div>
      {% endfor %}
    </dl>
     
    <h3 class="font-bold tracking-tight text-brand mt-20 mb-4">Relays</h3>
    <ul role="list" class="w-full max-w-2xl divide-y divide-gray-100">
    {% for relay in meet.relays %}
      <li class="flex items-center justify-between gap-x-6 py-5">
        <div class="flex min-w-0 gap-x-4 items-center">
          <i class="fa-solid fa-award fa-2x text-gray-400 flex-none"></i>
          <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 text-gray-900">{{ relay.team | join: ", " }}</p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{ relay.event }}</p>
          </div>
        </div>
        <div class="shrink-0 flex flex-col items-end">
          <p class="text-lg leading-6 text-brand flex flex-col text-right">
            <span class="font-medium">{{ relay.placement }}</span>
            <span class="font-light text-xs font-medium text-gray-500">place</span>
          </p>
        </div>
      </li>
    {% endfor %}
    </ul>

    <h3 class="font-bold tracking-tight text-brand mt-20 mb-4">Individual</h3>
    <ul role="list" class="w-full max-w-4xl grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
      {% for individual in meet.individuals %}
      <li class="overflow-hidden rounded-xl border border-gray-200">
        <div class="flex items-center gap-x-4 border-b border-gray-900/5 bg-gray-50 p-6">
          <i class="fa-solid fa-award fa-2x text-gray-400"></i>
          <div class="text-lg font-medium leading-6 text-gray-900">{{ individual.name }}</div>
        </div>
        <dl class="-my-3 divide-y divide-gray-100 px-6 py-4 text-sm leading-6">
          {% for event in individual.events %}
          <div class="flex justify-between gap-x-4 py-3">
            <dt class="text-gray-500">{{ event[0] }}</dt>
            <dd class="text-gray-700">{{ event[1] }}</dd>
          </div>
          {% endfor %}
        </dl>
      </li>
      {% endfor %}
    </ul>


    {% endfor %}
  </div>
</div>
