---
layout: page
title: Time Standards
# YAML exatracted from official tables via ChatGPT :)
state:
  - event: "200 Medley Relay"
    boys1a: "2:04.19"
    boys6a: "1:52.59"
    girls1a: "2:13.09"
    girls6a: "2:04.89"
    
  - event: "200 Freestyle"
    boys1a: "2:05.39"
    boys6a: "1:55.19"
    girls1a: "2:15.09"
    girls6a: "2:05.49"

  - event: "200 IM"
    boys1a: "2:22.79"
    boys6a: "2:11.49"
    girls1a: "2:35.09"
    girls6a: "2:22.89"

  - event: "50 Freestyle"
    boys1a: "24.39"
    boys6a: "23.39"
    girls1a: "27.39"
    girls6a: "25.89"

  - event: "1M Diving"
    boys1a: "Top 3"
    boys6a: "Top 6"
    girls1a: "Top 3"
    girls6a: "Top 6"

  - event: "100 Butterfly"
    boys1a: "1:02.49"
    boys6a: "58.09"
    girls1a: "1:08.39"
    girls6a: "1:03.79"

  - event: "100 Freestyle"
    boys1a: "55.99"
    boys6a: "51.79"
    girls1a: "59.99"
    girls6a: "56.99"

  - event: "500 Freestyle"
    boys1a: "5:40.09"
    boys6a: "5:17.89"
    girls1a: "6:03.79"
    girls6a: "5:40.09"

  - event: "200 Freestyle Relay"
    boys1a: "1:48.69"
    boys6a: "1:41.19"
    girls1a: "1:58.59"
    girls6a: "1:50.19"

  - event: "100 Backstroke"
    boys1a: "1:04.19"
    boys6a: "58.89"
    girls1a: "1:09.39"
    girls6a: "1:04.39"

  - event: "100 Breaststroke"
    boys1a: "1:12.59"
    boys6a: "1:05.39"
    girls1a: "1:18.19"
    girls6a: "1:12.99"

  - event: "400 Freestyle Relay"
    boys1a: "4:11.99"
    boys6a: "3:46.79"
    girls1a: "4:23.99"
    girls6a: "4:12.99"

sectionals:
  - event: "200 Medley Relay"
    boys1a:
    boys6a:
    girls1a:
    girls6a:
    
  - event: "200 Freestyle"
    boys1a: "2:24.99"
    boys6a: "2:13.99"
    girls1a: "2:36.99"
    girls6a: "2:25.99"
    
  - event: "200 IM"
    boys1a: "2:40.99"
    boys6a: "2:29.99"
    girls1a: "2:55.99"
    girls6a: "2:41.99"

  - event: "50 Freestyle"
    boys1a: "0:29.99"
    boys6a: "0:27.99"
    girls1a: "0:30.99"
    girls6a: "0:30.99"

  - event: "Diving"
    boys1a: 
    boys6a: 
    girls1a:
    girls6a:

  - event: "100 Butterfly"
    boys1a: "1:10.99"
    boys6a: "1:07.99"
    girls1a: "1:17.99"
    girls6a: "1:13.99"

  - event: "100 Freestyle"
    boys1a: "1:04.99"
    boys6a: "1:00.99"
    girls1a: "1:07.99"
    girls6a: "1:07.99"

  - event: "500 Freestyle"
    boys1a: "6:30.99"
    boys6a: "6:00.99"
    girls1a: "6:57.99"
    girls6a: "6:23.99"

  - event: "200 Freestyle Relay"
    boys1a: 
    boys6a: 
    girls1a:
    girls6a:

  - event: "100 Backstroke"
    boys1a: "1:23.99"
    boys6a: "1:08.99"
    girls1a: "1:18.99"
    girls6a: "1:13.99"

  - event: "100 Breaststroke"
    boys1a: "1:22.99"
    boys6a: "1:16.99"
    girls1a: "1:31.99"
    girls6a: "1:24.99"

  - event: "400 Freestyle Relay"
    boys1a: 
    boys6a: 
    girls1a:
    girls6a:
---

<div class="bg-white py-32">
  <div class="mx-auto max-w-7xl px-6 text-center lg:px-8">
    <div class="mx-auto max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Time Standards</h2>
      <p class="mt-4">
        See the
        <a href="https://www.ahsaa.com/Sports/Fall/Swimming-Diving" class="text-sky-500 hover:text-sky-600">AHSAA webpage</a>
        for official tables.
      </p>
    </div>

    <h3 class="mt-12 mb-8 text-xl font-bold tracking-tight text-brand sm:text-2xl">2023 AHSAA State Time Standards</h3>
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-100">
        <tr>
          <th colspan="2" scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900">Boys</th>
          <th scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900"></th>
          <th colspan="2" scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900">Girls</th>
        </tr>
        <tr>
          <th scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900">1A-5A</th>
          <th scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900">6A-7A</th>
          <th scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900 bg-gray-200">Event</th>
          <th scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900">1A-5A</th>
          <th scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900">6A-7A</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        {% for event in page.state %}
        <tr>
          <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-500">{{ event.boys1a }}</td>
          <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-500">{{ event.boys6a }}</td>
          <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-800 font-medium bg-gray-100">{{ event.event }}</td>
          <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-500">{{ event.girls1a }}</td>
          <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-500">{{ event.girls6a }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3 class="mt-20 mb-8 text-xl font-bold tracking-tight text-brand sm:text-2xl">2023 AHSAA Sectional Meet Qualifying Times</h3>
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-100">
        <tr>
          <th colspan="2" scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900">Boys</th>
          <th scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900"></th>
          <th colspan="2" scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900">Girls</th>
        </tr>
        <tr>
          <th scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900">1A-5A</th>
          <th scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900">6A-7A</th>
          <th scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900 bg-gray-200">Event</th>
          <th scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900">1A-5A</th>
          <th scope="col" class="px-3 py-3.5 text-sm font-semibold text-gray-900">6A-7A</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        {% for event in page.sectionals %}
        <tr>
          <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-500">{{ event.boys1a }}</td>
          <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-500">{{ event.boys6a }}</td>
          <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-800 font-medium bg-gray-100">{{ event.event }}</td>
          <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-500">{{ event.girls1a }}</td>
          <td class="whitespace-nowrap px-3 py-2 text-sm text-gray-500">{{ event.girls6a }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>