<title>Grissom Swim & Dive - {{ page.title }}</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="manifest" href="/assets/favicons/site.webmanifest">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- collegiate font -->
<style>
  @import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Graduate&family=Roboto+Slab:wght@900&display=swap');
</style>

<!-- Alpine.js -->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

<!-- Fontawesome Icons -->
<script src="https://kit.fontawesome.com/55267cd36b.js" crossorigin="anonymous"></script>

<!-- Sass CSS -->
<link rel="stylesheet" href="/assets/css/global.css" />

<!-- Tailwind CSS -->
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio"></script>
<script>
  tailwind.config = {
    theme: {
      extend: {
        colors: {
          'brand': {
            DEFAULT: '#d85c0e',
            lighter: '#da661d',
            lightest: '#ff914d',
            darker: '#59290b',
            darkest: '#45210a'
          },
          'neutral': {
            600: '#545454'
          }
        },
        fontFamily: {
          'collegiate': ['Roboto Slab', 'serif']
        }
      },
      keyframes: {
        shimmer: {
          '100%': {
            transform: 'translateX(100%)'
          }
        }
      }
    }
  }
</script>